<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h2>User List</h2>
        <table>
    <tr>
    <th>User Id</th>
    <th>User Name</th>
    <th>Mobile Number</th>
    <th>Address</th>
     <th>Update</th>
     <th>Delete</th>
    </tr>

     {% for user in users %}
    <tr>
    <td>{{ user.id}}</td>
    <td>{{ user.name }}</td>
     <td>{{ user.mobile }}</td>
    <td>{{ user.address }}</td>
    <td><a href="{% url 'user_update' user.id %}">Update</a></td>
    <td><a href="{% url 'user_delete' user.id %}">Delete</a></td>
    </tr>
    {% endfor %}

    </table>
</body>
</html>